/* ----- Сеточные стили ----- */

body {
  margin: 0;
  padding: 0;
  min-width: 1122px;
  min-height: 1150px;
}

.inner-page {
  background-image: url("../previews/barbershop-shop.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.outline {
  outline: 1px solid rgb(214, 0, 221);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 2px dashed rgba(39, 139, 0, 0.89);
}

.main-header {
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 285px;
  background-color: #1eff002c;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;

  /* Временно для сетки */
  min-height: 75px;
  background-color: transparent;
  outline: 2px solid rgb(214, 0, 221);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;

  /* Временно для сетки */
  min-height: 285px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;

  /* Временно для сетки */
  min-height: 70px;
  outline: 2px solid rgb(0, 188, 221);
}

.main-logo {
  order: 2;

  width: 368px;
  height: 153px;
}

.inner-page .main-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;

  outline: 2px solid rgb(221, 0, 0);
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;

  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  outline: 2px solid rgb(7, 221, 0);
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  outline: 2px solid rgb(33, 0, 221);
}

.inner-page .user-navigation {
  margin-left: auto;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 150px;
}

.feature-item {
  width: 300px;

  /* Временно для сетки */
  min-height: 150px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  /* Временно для сетки */
  background-image: none;
  background-color: transparent;
}

.news {
  width: 380px;

  /* Временно для сетки */
  min-height: 315px;
}

.gallery {
  width: 300px;

  /* Временно для сетки */
  min-height: 315px;
}

.contacts {
  width: 380px;

  /* Временно для сетки */
  min-height: 295px;
}

.appointment {
  width: 300px;

  /* Временно для сетки */
  min-height: 320px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  /* Временно для сетки */
  min-height: 42px;
  outline: 2px solid blueviolet;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  /* Временно для сетки */
  min-height: 24px;
  outline: 2px solid red;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  outline: 2px solid darkorange;
}

.filters {
  width: 180px;

  /* Временно для сетки */
  min-height: 687px;
  background-color: rgba(153, 50, 204, 0.178);
}

.catalog {
  width: 700px;

  /* Временно для сетки */
  min-height: 687px;
  background-color: rgba(255, 0, 13, 0.178);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  /* Временно для сетки */
  min-height: 285px;
  outline: 2px dashed yellow;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px purple;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 47px;
  outline: 2px dashed rgb(0, 255, 21);
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;

  /* Временно для сетки */
  background: none;
}

.inner-page .main-footer {
  margin-top: 45px;

  background-color: rgba(0, 0, 255, 0.281)
}

.main-footer .container {
  display: flex;

  outline: 2px dashed yellow;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  margin-right: 70px;

  /* Временно для сетки */
  min-height: 100px;
  outline: 2px solid rgb(255, 0, 0);
}

.footer-social {
  width: 145px;

  /* Временно для сетки */
  min-height: 100px;
  outline: 2px solid rgb(25, 0, 255);
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;

  /* Временно для сетки */
  min-height: 100px;
  outline: 2px solid rgb(51, 255, 0);
}
